@import "../../utils/constants.scss";

.container {
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  font-family: $helvetica;
  margin-top: 20px;
  width: 90%;
  align-self: center;

  .wrapper {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .description {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .title {
        color: $light-red;
        font-size: 30px;
        margin-bottom: 5px;
      }

      .details {
        color: white;
        font-size: 14px;
        margin: 0;
      }

      .statistics {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .year,
      .duration {
        font-size: 18px;
        color: white;
        font-weight: 600;
      }

      .duration {
        margin-left: 20px;
      }

      .shortStory {
        font-size: 18px;
        overflow: hidden;
        white-space: normal;
        color: white;
        text-align: left;
      }
    }

    .poster {
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      height: 370px;
      min-width: 300px;
      text-align: center;
      margin: 0 50px 20px 20px;
    }
  }
}

@media screen and (max-width: $tablet-landscape-screen) {
  .container {
    width: 80%;
  }
}

@media screen and (max-width: $tablet-size-screen) {
  .container {
    width: 100%;

    .wrapper {
      .description {
        .shortStory {
          max-height: 100px;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

@media screen and (max-width: $phone-size-screen) {
  .container {
    position: relative;
    flex-direction: column;
    justify-content: center;

    .wrapper {
      position: relative;
      flex-direction: column;
      justify-content: center;

      .description {
        text-align: center;

        .statistics {
          justify-content: center;
        }
      }

      .poster {
        margin: 0 auto;
      }
    }
  }
}
