@import "../../../src/utils/constants.scss";

.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $line-color;
  padding: 0 130px;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.foundTitle {
  font-size: 24px;
  text-align: center;
}

.sortTitle {
  margin: 0 10px;
  font-size: 22px;
  width: 100%;
}

.link {
  position: relative;
  height: 30px;
  color: $light-red;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 22px;
  font-family: $helvetica;
  margin: 0 10px;
  font-weight: normal;
  cursor: pointer;
  border: none;
  background-color: transparent;
  outline: none;
  z-index: 5;
  width: 100%;

  &::before {
    content: '';
    top: 12px;
    right: 0;
    position: absolute;
    width: 5px;
    height: 5px;
    border-style: solid;
    border-width: 0 2px 2px 0;
    transition: all ease 0.3s;
  }
}

.up.link::before {
  transform: rotate(-135deg);
  top: 12px;
}

.down.link::before {
  transform: rotate(45deg);
  top: 12px;
}

.active {
  font-weight: bold;
  border-bottom: 2px solid $light-red;
}

@media screen and (max-width: $tablet-size-screen) {
  .link {
    font-size: 12px;
    margin: 0 5px;
    line-height: 1;
  }

  .nav-links {
    width: 280px;
  }
}

@media screen and (max-width: $phone-size-screen) {
  .container {
    padding: 0 20px;
  }

  .link {
    font-size: 10px;
  }

  .foundTitle {
    font-size: 18px;
  }

  .sortTitle {
    text-align-last: left;
    font-size: 14px;
  }

  .nav-links {
    width: 200px;
  }
}
