@import "../../../src/utils/constants.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;

  a {
    text-decoration: none;
    color: $light-red;
  }

  .logo {
    font-size: 25px;
    letter-spacing: 2px;
    line-height: 32px;
    font-family: $helvetica;
    font-weight: 500;
    cursor: pointer;
  }
}
