$helvetica: "Helvetica Neue", Arial, sans-serif;
$light-red: #a00f0f;
$gray: rgba(36, 43, 45, 0.4);
$dark-gray: #242b2d;
$light-gray: #f5f5f5;
$light-light-gray: #acaeaf;
$line-color: #d5d6d7;
$tooltip-color: rgba(26, 26, 27, 0.65);
$tablet-landscape-screen: 1024px;
$tablet-size-screen: 768px;
$phone-size-screen: 425px;
