@import "../../utils/constants.scss";

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: black;
  z-index: 10;
  font-family: $helvetica;
  margin-bottom: 15px;

  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    font-size: 16px;
  }

  .titleWrapper {
    display: flex;
    justify-content: space-between;
  }

  .film-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 10px 5px;
  }

  .name {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .genre {
    margin-right: 10px;
  }

  .year {
    border: 1px solid black;
    border-radius: 2px;
    text-align: center;
    padding: 3px;
  }
}

@media screen and (max-width: $tablet-size-screen) {
  .container {
    .more-information {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }

    .name {
      font-size: 20px;
      font-weight: normal;
    }

    .info {
      font-size: 12px;
      flex-direction: column;
      align-items: flex-start;
    }

    .divider {
      display: none;
    }

    .genres,
    .year {
      margin: 5px 0;
    }
  }
}

@media screen and (max-width: $phone-size-screen) {
  .container {
    .genres {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}
